body{
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Opens Sans', sans-serif;
}

h2{
  font-size: 2.1em;
}

p{
  font-size: 1.1em;
    line-height: 1.3em;
  font-family: 'Opens Sans', sans-serif;
}

h3{
  font-size: 1.4em;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  font-size: 1em;
}
/*
---------------------------------- PAGE 1 ------------------------------
*/

#page1{
  display: block;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background-image: url(../images/Accueil.jpg);
  background-repeat: no-repeat;
  background-size:auto 820px;
}
/* --------------------- MENU HAMBURGER --------------------- */

#hamburger-content {
  display: inline;
}

#hamburger-button{
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  vertical-align: top;
  float: right;
  line-height: 47px;
  margin-right: 30px;
}

#hamburger-overlay{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4)
}

#hamburger-sidebar{
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
}

#hamburger-sidebar li {
  display: block;
}

#hamburger-sidebar-header{
  background: url(../images/logo.png) center;
  width: 70%;
  margin: 0 auto;
  height: 128px;
  background-repeat: no-repeat;
  background-size:auto 70%;
}

#hamburger-sidebar-body {
  padding: 16px 8px;
}

#hamburger-sidebar-body li:before{
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 4px;
}

img.menuHamburger{
  width: 50px;
  margin-top: 15px;
}


/* --- HEADER PAGE 1 --- */

header{
  z-index: 2;
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 82px;
  background:#ffffff;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul li:hover{
  text-decoration: underline;
}

nav ul li{
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;

}

img.logo{
  height: 50px;
  margin-top: 0;
}

/* --- CONTENU PRINCIPAL PAGE 1 --- */

.contentPage1{
  padding-top: 90px;
}

img.lang{
  width: 20px;
}

img.lang:first-of-type{
  margin-left: 20px;
}

.contentLosange{
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-right: 20%;
}

h1{
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff;
}

.bigLosange{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;

  background: white;
  border:2px solid black;
  opacity: 0.8;

  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.losange {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    background: white;
    border:1px solid black;
}

.losange h2{
  font-size: 1.9em;
  color: #000;
  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}

ul.lang{
  display: flex;
}

/*
--------------------------------- PAGE 2 --------------------------------
*/


#page2{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;
}

.contentPage2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  position: relative;


  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}


#page2 h2 {
  color: #fff;
}

#page2 h3 {
  color: #fff;
  font-weight: lighter;
}

#page2 p{
  color: #fff;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.4em;
}

.bigLosange2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;


  background: #000;
  border:2px solid #fff;
  opacity: 0.8;

  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.losange2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 550px;
  width: 550px;
  background: #000;
  border:1px solid #fff;
}


/*
--------------------------------- PAGE 3 --------------------------------
*/

#page3{
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 800px;
  background: #fff;
}

.titlePage3 {
  text-align: center;
  margin-top: 20px;
}

.articlePage3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.articlePage3 img {
  width: 50%;
  object-fit: cover;
  height: 50%;
}

.articlePage3 div {
  width: 40%;
  padding: 0 149px;
  text-align: center;
}

.articlePage3 p {
  font-size: 20px;
  font-weight: 300;
}

.articlePage3 .subtitlePage3 {
  font-weight: initial;
}

/*
--------------------------------- PAGE 4 --------------------------------
*/

#page4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;
}

.title, .subtitle {
  text-align: center;
  color: #fff;
}

.container-equipe {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.container-equipe img {
   border: 2px solid white;
   padding: 10px;
   width: 70%;
   display: block;
   margin: 0 auto;
}

.container-equipe p {
  text-align: center;
  color: #fff;
  line-height: 6em;
}


/*
---------------------------------- PAGE 5 ------------------------------
*/

#page5{
  display: flex;
  justify-content: center;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  background: #fff;
}


.titr{
  width : 600px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}


.titr h2 {
  text-transform: uppercase;
}

.chart{
  margin: 0 auto;
  text-align: center;
}

.chart p {
  display: inline-block;
  width: 520px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: top;
  margin-top: 110px;
  font-weight: 100;
}

.first{
  height: 350px;
}

.chart img{
  width: 45%;
  height: 350px;
  display: inline-block;
}
.first img{
  margin-left: 40px;
}

.second img{
  margin-right: 40px;
}

.third img{
  margin-left: 40px;
}
.last{
  margin-top: 50px;
}
.last p{
  width : 600px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
}

p.bold{
  font-weight: bold;
}

/*
---------------------------------- PAGE 7 ------------------------------
*/

#page7{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #fff;
}


#fleche, #fleche2{
  width: 50px;
  height: 90px;
  padding: 30px;
}

#fleche2{
  padding: 30px;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* Internet Explorer */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari et Chrome */
  -o-transform:rotate(180deg); /* Opera */

}

#page7 h2, h3{
  text-align: center;
}


#nomVoiture{
  margin-bottom: 60px;
  text-align: center;
}

.center{
  width: 650px;
}

.leftImg, .rightImg{
  width: 200px;
}

div.imgSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

div.voitureSlider{
  display: flex;
  align-items: center;
}

/*
---------------------------------- PAGE8 ------------------------------
*/

#page8{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;

}

.containerPolitic {
  width: 85%;
  height: 85%;
  text-align: center;
  margin: auto;

  color: #fff;
}

#page8 h2{
  margin-top: 20px;
}
#page8 h3{
  font-style: italic;
}

svg{
  width: 8%;
  position: absolute;
}

#square1, #square2, #titress{
  position: relative;
  padding-left: %;
  margin-bottom: -3%
}

#square1{
  padding-right: 4%;
  margin-top: -2%
}

#square2{
  padding-left: 4%;
  margin-top: -2%;
}

.title_eco{
  width: 100%;
  display: flex;
  justify-content: center;
}

#poldescription{
  margin: 0 auto;
  width: 52%;
  text-align: justify;
  font-size: 0.8em;
}

#polblock
{
  padding-top: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  line-height: 2em;
  font-weight: lighter;
}

#polblock p:first-child{
  text-decoration: underline;
}

#citation{
  font-style: italic;
  font-size: 1.2em;
  padding-top: 2%
}

.square{
  width: 1.5%;
  position: absolute;
  margin-left: -3%;
}

/*
---------------------------------- PAGE9 ------------------------------
*/
#page9{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #fff;
}

.contentPage9{
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.rejoignez {
  display: flex;
  justify-content:center;
  width: 30%;
  background: #fff;
  border: 2px solid #000;
  margin: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

/*
---------------------------------- FOOTER ------------------------------
*/

footer {
  background-color: #000000;
  color: #FFFFFF;
}

 footer .grostext{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }
.precis{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
 .trait{
   width: 76px;
   height: 2px;
   background-color: #ffffff;
 }
footer .footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

footer .footer section {
  max-width: 300px;
  min-width: 300px;
}

footer span {
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 67px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer .partenaires p {
  display: block;
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}


footer .infos .liens {
  display: flex;
  flex-direction: row;
}


footer .informations a {
  display: flex;
  justify-content: center;
  text-align : justify;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  font-size: 14px;
  color: #ffffff;
}

.liens img{
  height: 60px;
}





/*
---------------------------------- RESPONSIVE ------------------------------
*/

/* ------------------------------- IPADS ------------ */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

/* --- HAMBURGER MENU --- */

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }

    nav ul{
      display: block;
    }

    img.logo{
      display: none;
    }

/* --- PAGE 1 ---*/

h1{
  font-size: 2.2em;
}

.contentLosange{
  justify-content: center;
  padding: 0;
  margin-top: 180px;
}
.bigLosange{
  height: 280px;
  width: 280px;
}

.losange {
    height: 230px;
    width: 230px;
}

.contentLosange h2{
  font-size: 2.0em;
}

/* --- ALL PAGES --- */

#page1{
  background-image: url(../images/Accueil.jpg);
  background-repeat: no-repeat;
  background-size:auto 948px;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9{
  height: 948px;
  width: 1280px;
}

footer{
  width: 1274px;
}

}

/* ----------------- IPHONES 6/7/8 --------------- */

@media only screen
and (min-device-width : 365px)
and (max-device-width : 667px) {
  #hamburger-content {
      display: none;
  }

  #hamburger-button, #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
      display: block;
  }

  .hamburger-activated #hamburger-sidebar {
      transform: translateX(0);
  }

  nav ul{
    display: block;
  }

  img.logo{
    display: none;
  }

  /* --- PAGE 1 ---*/

  #page1{
    background-image: url(../images/Accueil.jpg);
    background-repeat: no-repeat;
    background-size:auto 2280px;
  }

  h1{
    font-size: 1.5em;
  }

  .contentLosange{
    justify-content: center;
    padding: 0;
    margin-top: 80px;
  }
  .bigLosange{
    height: 200px;
    width: 200px;
  }

  .losange {
      height: 180px;
      width: 180px;
  }

  .contentLosange h2{
    font-size: 1.5em;
  }


/* --- ALL PAGES --- */

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9{
  height: 2280px;
  width: 1280px;
}


}
