body{
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h2{
  font-size: 2.1em;
}

p{
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: lighter ;
}

h3{
  font-size: 1.4em;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  font-size: 1em;
}

div.titleDecoration{
  display: flex;
  justify-content: center;
}

div.titleDecoration img{
  width: 10%;
  height: 10%;
  margin-top: 15px;
}

div.titleDecoration img:last-child{
  transform: rotate(180deg);
}

div.titleDecoration h2{
  margin: 20px;
}



/*
---------------------------------- PAGE 1 ------------------------------
*/

#page1{
  display: block;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background-image: url(../images/Accueil.png);
  background-repeat: no-repeat;
  background-size:auto 820px;
}
/* --------------------- MENU HAMBURGER --------------------- */

#hamburger-content {
  display: inline;
}

#hamburger-button{
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  vertical-align: top;
  float: right;
  line-height: 47px;
  margin-right: 30px;
}

#hamburger-overlay{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4)
}

#hamburger-sidebar{
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
}

#hamburger-sidebar li {
  display: block;
}

#hamburger-sidebar-header{
  background: url(../images/logo.png) center;
  width: 70%;
  margin: 0 auto;
  height: 128px;
  background-repeat: no-repeat;
  background-size:auto 70%;
}

#hamburger-sidebar-body {
  padding: 16px 8px;
}

#hamburger-sidebar-body li:before{
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 4px;
}

img.menuHamburger{
  width: 50px;
  margin-top: 15px;
}


/* --- HEADER PAGE 1 --- */

header{
  z-index: 2;
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 82px;
  background:#ffffff;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul li:hover{
  text-decoration: underline;
}

nav ul li{
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;

}

img.logo{
  height: 50px;
  margin-top: 0;
}

/* --- CONTENU PRINCIPAL PAGE 1 --- */

.contentPage1{
  padding-top: 90px;
}

img.lang{
  width: 20px;
}

img.lang:first-of-type{
  margin-left: 20px;
}

.contentLosange{
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-right: 20%;
}

h1{
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff;
}

.bigLosange{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;

  background: white;
  border:2px solid black;
  opacity: 0.8;

  position: relative;

  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.bigLosange a{
  z-index: 1;
  transform: rotate(-45deg);
}

.losange {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    background: white;
    border:1px solid black;
    position: absolute;
    transition: all 1s;
}

.losange:hover{
  transition: all 1s;
  transform: rotate(45deg);
}

.losange h2{
  font-size: 1.9em;
  color: #000;
  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}

ul.lang{
  display: flex;
}

/*
--------------------------------- PAGE 2 --------------------------------
*/


#page2{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;
}

.contentPage2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;


  -ms-transform: rotate(-45deg); /* Internet Explorer */
  -moz-transform: rotate(-45deg); /* Firefox */
  -webkit-transform: rotate(-45deg); /* Safari et Chrome */
  -o-transform: rotate(-45deg); /* Opera */
}


#page2 h2 {
  color: #fff;
}

#page2 h3 {
  color: #fff;
  font-weight: lighter;
}

#page2 p{
  color: #fff;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.4em;
}

#page2 div.textPremier{
  width: 70%;
}

#page2 div.textP2{
  display: flex;
  justify-content: space-between;
}

#page2 div.slideP2-1 img, div.slideP2-2 img {
  width: 30px;
  margin-top: 28px;
}

#page2 div.slideP2-2 img{
  transform: rotate(180deg);
}

#page2 div.points{
  width: 100px;
  height: 30px;

  display: flex;
  justify-content: space-around;
}

#page2 div.points div.isActive{
  border-radius: 50%;
  border: 2px white solid;
  width: 20px;
  height: 20px;
  background-color: grey;

}
#page2 div.points div.isNotActive{
  border-radius: 50%;
  border: 2px white solid;
  width: 20px;
  height: 20px;
  background-color: white;
}

.bigLosange2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 650px;


  background: #000;
  border:2px solid #fff;
  opacity: 0.8;

  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.losange2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 600px;
  width: 600px;
  background: #000;
  border:1px solid #fff;
}

#moreInfos p{
  text-decoration: underline;
}


/*
--------------------------------- PAGE 3 --------------------------------
*/

#page3{
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 800px;
  background: #fff;
}

.titlePage3 {
  padding-top: 3%;
  text-align: center;
  margin-top: 20px;
}

.articlePage3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.articlePage3 img {
  width: 35%;
  object-fit: cover;
  padding: 0 10%;
}

.articlePage3 div {
  width: 40%;
  text-align: center;
  justify-content: center;
}

.articlePage3 p {
  font-weight: lighter;
}

.articlePage3 .subtitlePage3 {
  font-weight: initial;
}

#page3 h4{
  margin: 0;
}

/*
--------------------------------- PAGE 4 --------------------------------
*/

#page4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;
}

.title, .subtitle {
  text-align: center;
  color: #fff;
}

.container-equipe {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: relative;
}

.container-equipe img {
   border: 2px solid white;
   padding: 10px;
   width: 70%;
   display: block;
   margin: 0 auto;
}

.container-equipe p {
  text-align: center;
  color: #fff;
  line-height: 6em;
}

.contienBordures{
  position: absolute;
  display: flex;
  width: 100%;
  height: 223px;
  z-index: 0;
  justify-content: space-around;
  margin-top: 15px;
}

.border1, .border2, .border3{
  border: solid 2px white;
  width: 218px;
  transition: all 1s;

}


.borderHover{
  border: solid 2px white;
  width: 218px;
  transform: rotate(45deg);
  transition: all 1s;
}

/*
---------------------------------- PAGE 5 ------------------------------
*/

#page5{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  background: #fff;
}

#page5 h2{
  color: #000;
  padding-bottom: 2%;
}

#page5 .titleDecoration{
  padding-top: 5%;
}

#page5 h3{
  padding-bottom: 5%;
  width: 60%;
  margin: 0 auto;
}

#page5 .chart img{
  width: 50%;
  height: 50%;
}

.first, .second, .third {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page5 .first p, .second p, .third p{
  padding: 5%;
}

.last {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3% auto;
  width: 60%;
}


/*
---------------------------------- PAGE 6 ------------------------------
*/

#page6{
  display: block;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;
}

#page6 .title{
  padding: 6% 0 2% 0;
}

#page6 .containtCondition{
  display: flex;
  justify-content: space-between;
}

#page6 *{
  color: white;
}


#page6 h3{
  display: block;
}

#page6 .ll{
  width: 33%;
}

#page6 div.ll img.fond{
  width: 100%;
}

#page6 .ll p{
  width: 57%;
}

#page6 .text3{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#page6 .text2, .text1, .text4, .text5{
  margin-top: 45%;
  text-align: center;
}

#page6 .text2, .text1{
  margin-left: 40%;
}

/*
---------------------------------- PAGE 7 ------------------------------
*/

#page7{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #fff;
}


#fleche, #fleche2{
  width: 50px;
  height: 90px;
  padding: 30px;
}

#fleche2{
  padding: 30px;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* Internet Explorer */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari et Chrome */
  -o-transform:rotate(180deg); /* Opera */

}

#page7 h2, h3{
  text-align: center;
}


#nomVoiture{
  margin-bottom: 60px;
  text-align: center;
}

.center{
  width: 650px;
}

.leftImg, .rightImg{
  width: 200px;
}

div.imgSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

div.voitureSlider{
  display: flex;
  align-items: center;
}

/*
---------------------------------- PAGE 8 ------------------------------
*/

#page8{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;

  width: 100%;
  height: 800px;
  background: #000;

}

.containerPolitic {
  width: 85%;
  height: 85%;
  text-align: center;
  margin: auto;

  color: #fff;
}

#page8 h2{
  margin-top: 20px;
}
#page8 h3{
  font-style: italic;
}

svg{
  width: 8%;
  position: absolute;
}

#square1, #square2, #titress{
  position: relative;
  padding-left: %;
  margin-bottom: -3%
}

#square1{
  padding-right: 4%;
  margin-top: -2%
}

#square2{
  padding-left: 4%;
  margin-top: -2%;
}

.title_eco{
  width: 100%;
  display: flex;
  justify-content: center;
}

#poldescription{
  margin: 0 auto;
  width: 52%;
  text-align: justify;
  font-size: 0.8em;
}

#polblock
{
  padding-top: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  line-height: 2em;
  font-weight: lighter;
}

#polblock p:first-child{
  text-decoration: underline;
}

#polblock img{
  width: 20px;
  float: left;
  margin-right: 25px;
}

#citation{
  font-style: italic;
  font-size: 1.2em;
  padding-top: 2%
}

.square{
  width: 1.5%;
  position: absolute;
  margin-left: -3%;
}



/*
---------------------------------- PAGE9 ------------------------------
*/
#page9{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding:0;
  margin:0;
  width: 100%;
  height: 1100px;
  background: #fff;
}

.formBloc{
  width: 60%;
  margin: auto;
  border: 1.5em solid #D9D9D9;
  box-shadow: 4px 4px 8px #aaa;
}


.contentPage9{
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.rejoignez {
  display: flex;
  justify-content:center;
  width: 40%;
  background: #fff;
  border: 1px solid #707070;
  margin: 0 auto;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  margin-top: -7%;
}

form{
  display: flex;
  flex-direction: column;
}

.formText{
  margin-top: 2%;
  padding-left: 10%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;

}

.buton{
  width: 20%;
  height: 2.5em;
  background-color: #555555;
  border: 1px solid #555555;
  font-size: 1.1em;
  color: white;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 1em;
}

.buton:active{
  background-color: white;
  color: #50904B;
  font-size: 1.1em;
}

#lastname{
  width: 30%;
  height: 2em;
  margin-left: 10%;
  padding-left: 1em;
  display: block;
  border: 1px solid;
  border-radius: 8px;
}

#firstname{
  position: absolute;
  width: 18%;
  height: 2em;
  margin-left: 30%;
  padding-left: 1em;
  display: block;
  border: 1px solid;
  border-radius: 8px;
}

#lang{
  padding-left: 1em;
  width: 50%;
  height: 2em;
  margin: 4% 10%;
  border: 1px solid;
  border-radius: 8px;
}

#car{
  padding-left: 1em;
  width: 50%;
  height: 2em;
  margin: 0% 10%;
  border: 1px solid;
  border-radius: 8px;
}

#formCenter{
  margin: 0 auto;
  padding-bottom: 1.5em;
}

#mail{
  padding-left: 1em;
  width: 50%;
  height: 2em;
  margin: 4% 10%;
  border: 1px solid;
  border-radius: 8px;
}

input, select, textarea{

  color: grey;
  font-size: 1em;

}

/*
---------------------------------- FOOTER ------------------------------
*/

footer {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}

 footer .grostext{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }
.precis{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
 .trait{
   width: 76px;
   height: 2px;
   background-color: #ffffff;
 }
footer .footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

footer .footer section {
  max-width: 300px;
  min-width: 300px;
}

footer span {
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 67px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer .partenaires p {
  display: block;
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}


footer .informations a {
  display: flex;
  justify-content: center;
  text-align : justify;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  font-size: 14px;
  color: #ffffff;
}

.liens img{
  height: 60px;
}





/*
---------------------------------- RESPONSIVE ------------------------------
*/

/* ------------------------------- IPADS ------------ */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

/* --- HAMBURGER MENU --- */

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }

    nav ul{
      display: block;
    }

    img.logo{
      display: none;
    }

/* --- PAGE 1 ---*/

#page1{
  background-image: url(../images/Accueil.png);
  background-repeat: no-repeat;
  background-size:auto 948px;
}

h1{
  font-size: 2.2em;
}

.contentLosange{
  justify-content: center;
  padding: 0;
  margin-top: 180px;
}
.bigLosange{
  height: 280px;
  width: 280px;
}

.losange {
    height: 230px;
    width: 230px;
}

.contentLosange h2{
  font-size: 2.0em;
}

/* ------- PAGE 5 ---------- */

#page5{
  width: 1280px;
}

/* --- ALL PAGES --- */

body{
  width: 1280px;
}

header{
  height: 100px;
}

#page1, #page2, #page3, #page4, #page6, #page7, #page8, #page9{
  height: 948px;
  width: 1280px;
}

}







/* ----------------- IPHONES 6/7/8 --------------- */

@media only screen
and (min-device-width : 365px)
and (max-device-width : 780px) {

/* --- HAMBURGER MENU --- */

  #hamburger-content {
      display: none;
  }

  #hamburger-button, #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
      display: block;
  }

  img.menuHamburger{
    width: 140px;
  }


  .hamburger-activated #hamburger-sidebar {
      transform: translateX(0);
  }

  nav ul{
    display: block;
  }

  img.logo{
    display: none;
  }

  /* --- PAGE 1 ---*/

  #page1{
    background-image: url(../images/Accueil.png);
    background-repeat: no-repeat;
    background-size:auto 2664px;
    background-position: center
  }

  h1{
    margin-top: 300px;
    font-size: 6.3em;
  }

  .contentLosange{
    justify-content: center;
    padding: 0;
    margin-top: 380px;
  }
  .bigLosange{
    height: 560px;
    width: 560px;
  }

  .losange {
      height: 480px;
      width: 480px;
  }

  .contentLosange h2{
    font-size: 3.6em;
  }
/* --- PAGE 2 --- */

.bigLosange2, .losange2{
  color: #000;
  border-color: #000;
  width: 80%;
}

.contentPage2 p{
  line-height: 2.5em;
}

.contentPage2{
  padding: 0;
}

/* --- PAGE 3 --- */

.articlePage3 {
  flex-direction: column;
}

.articlePage3 img {
  display: none;
}

.articlePage3 div {
  width: 1400px;
  padding: 50px;
}

.articlePage3 p {
  font-size: 3.7em;
}

#cds{
  display:none;
}

/* --- PAGE 4 --- */

.container-equipe{
  flex-direction: column;
}

.equipe p{
  margin: 0;
  line-height: 3em;
}

.container-equipe img{
  width: 400px;
}

.contienBordures{
  display: none;
}

.border1, .border2, .border3{
  display: none;

}


.borderHover{
  display: none;
}

/* --- PAGE 5 --- */

#page5 {
  width: 100%;
}


/* --- PAGE 6 --- */
#page6{
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page6 h2{
  text-align: center;
  margin-bottom: 200px;
}

#page6 img{
  display: none;
}

#page6 .containtCondition{
  display: flex;
  flex-direction: column;
}

#page6 .ll{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1500px;
  margin: 0;
}
#page6 .ll p{
  margin: 80px 60px;
}

#page6 .text3{
  margin: 0;
}

/* --- PAGE 7 --- */

#page7 h2{
  margin-bottom: 200px;
}

.leftImg, .rightImg{
  display: none;
}

img.center{
  width: 1200px;
  margin-top: 200px;
}

/* --- PAGE 8 --- */
#page8{
  height: 3550px;
  width: 1490px;
}

#citation{
  font-size: 3.7em;
}

/* --- ALL PAGES --- */

nav ul li{
  font-size: 4.0em;
  margin-top: 200px;
}

nav ul #liMenu{
display : none;
}

p{
  font-size: 3.7em;
}

h2{
  font-size: 5.4em;
}

h3{
  font-size: 3.7em;
}

h4{
  font-size: 3.7em;
}

header{
  height: 200px;
}

footer{
  width: 1500px;
}

#page1, #page2, #page3, #page4, #page6, #page7, #page9{
  height: 2664px;
  width: 1490px;
}

body{
  width: 405%;
}

}


@media screen
and (min-width : 340px)
and (max-width : 1067px) {

  /* --- HAMBURGER MENU --- */

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }



    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }

    nav ul{
      display: block;
    }

    img.logo{
      display: none;
    }

  /* --- PAGE 2 --- */

  .bigLosange2, .losange2{
    visibility: hidden;

  }

  .contentPage2{
    visibility: visible;
  }

  .contentPage2 p{
    line-height: 2.5em;
    width: 85%;
  }

  .contentPage2{
    padding: 0;
  }

  /* --- PAGE 3 --- */

  .articlePage3 {
    flex-direction: column;
    align-items: center;
  }

  .articlePage3 img {
    display: none;
  }

  #cds{
    display:none;
  }

  /* --- PAGE 4 --- */

  .container-equipe{
    flex-direction: column;
  }

  .equipe p{
    margin: 0;
    line-height: 3em;
  }

  .container-equipe img{
    width: 130px;
  }

  .contienBordures{
    display: none;
  }

  .border1, .border2, .border3{
    display: none;

  }
  .borderHover{
    display: none;
  }

  /* --- PAGE 5 --- */


  /* --- PAGE 6 --- */
  #page6{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #page6 h2{
    text-align: center;
  }

  #page6 img.fond{
    display: none;
  }

  #page6 .containtCondition{
    display: flex;
    flex-direction: column;
  }

  #page6 .ll{
    width:100%;
  }

  #page6 .ll p{
    width : 85%;
    padding: 5%;
    margin: 0 auto;
  }


  /* --- PAGE 7 --- */

  #page7 h2{
    margin-bottom: 200px;
  }

  .leftImg, .rightImg{
    display: none;
  }

.voitureSlider{
  width: 65%;
}

.center {
  width: 80%;
  margin: 0 auto;
}


  /* --- PAGE 8 --- */
  #page8{
    height: 1000px;
  }


  /* --- ALL PAGES --- */

  footer{
    width: 100%;
  }


  }
}
